.chat{
    display: block;
    margin: 0 auto;
    border:1px solid blue;
    width: 29rem;
 
    padding: 10px;
    height: 26rem;
    overflow-y: scroll;
}


.items {
    outline: 1px solid orange;
    padding-bottom: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    background: rgba(255,255,255,0.1);
   
}
/*scroll y touch*/
.wrapper {
    overflow-x:scroll;
    overflow-y:hidden;
    -webkit-overflow-scrolling:touch;
    white-space:nowrap;
    outline: 1px solid blue;
   
  }
  .wrapper::-webkit-scrollbar {
    background:transparent;
    background: gray;
  }
  
  .elem {
    display:inline-block;
    margin:10px;
  
  }


  /*quick con flechas*/
  * {
    box-sizing: inherit;
  }
  .pn-ProductNav_Wrapper {
    position: relative;
    padding: 0 11px;
    box-sizing: border-box;
  }
  .pn-ProductNav {
    /* Make this scrollable when needed */
    overflow-x: auto;
    /* We don't want vertical scrolling */
    overflow-y: hidden;
    /* For WebKit implementations, provide inertia scrolling */
    -webkit-overflow-scrolling: touch;
    /* We don't want internal inline elements to wrap */
    white-space: nowrap;
    /* If JS present, let's hide the default scrollbar */
    /* positioning context for advancers */
    position: relative;
    font-size: 0;
  }
  .js .pn-ProductNav {
    /* Make an auto-hiding scroller for the 3 people using a IE */
    -ms-overflow-style: -ms-autohiding-scrollbar;
    /* Remove the default scrollbar for WebKit implementations */
  }
  .js .pn-ProductNav::-webkit-scrollbar {
    display: none;
  }
  .pn-ProductNav_Contents {
    float: left;
    transition: transform 0.2s ease-in-out;
    position: relative;
  }
  .pn-ProductNav_Contents-no-transition {
    transition: none;
  }
  .pn-ProductNav_Link {
      display: inline-flex;
      align-items: center;
      margin-left: 5px;
      border: 1px solid transparent;
    padding: 0 11px;
  }
  .pn-ProductNav_Link + .pn-ProductNav_Link {
    border-left-color: #eee;
  }
  .pn-ProductNav_Link[aria-selected="true"] {
    color: #111;
  }
  .pn-Advancer {
    /* Reset the button */
    appearance: none;
    background: transparent;
    padding: 0;
    border: 0;
    /* Now style it as needed */
    position: absolute;
    top: 0;
    bottom: 0;
    /* Set the buttons invisible by default */
    opacity: 0;
    transition: opacity 0.3s;
  }
  .pn-Advancer:focus {
    outline: 0;
  }
  .pn-Advancer:hover {
    cursor: pointer;
  }
  .pn-Advancer_Left {
    left: 0;
  }
  [data-overflowing="both"] ~ .pn-Advancer_Left, [data-overflowing="left"] ~ .pn-Advancer_Left {
    opacity: 1;
  }
  .pn-Advancer_Right {
    right: 0;
  }
  [data-overflowing="both"] ~ .pn-Advancer_Right, [data-overflowing="right"] ~ .pn-Advancer_Right {
    opacity: 1;
  }
  .pn-Advancer_Icon {
    width: 20px;
    height: 44px;
    fill: #bbb;
  }
  .pn-ProductNav_Indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100px;
    background-color: transparent;
    transform-origin: 0 0;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
  }
  


